{% extends 'admin_template.html'  %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col">
                    <H3>Essay Management</H3>
    
            </div>
        </div>
        <div class="row">
                   <div class="col">
                        <form method="POST" action="/essay_management">
                            <table class="table">
                                
                                <tr><td>Enter the topic</td><td>
                                        <input type="text" class="form-control" name="topic" required  /> 
                                         
                                        </td></tr>
                                
                                
                                <tr><td>Enter the keywords</td><td>
                                        <textarea rows="4" cols="50" name="keywords" required> </textarea>
                                            <td><br><font color="#FF0000">! Keywords must be comma seperated</font></br>
                                                
                                               
                                      
                                    </td></tr>

                                    <tr><td>Enter the rules of essay</td><td>
                                            <textarea rows="4" cols="50" name="rules" required>
                                                    
                                                    </textarea>
                                          
                                        </td></tr>
                                <tr><td></td><td> <input type="submit" class="btn btn-primary" name="" value="Save" /> </td></tr>
                            </table>
                            </form>
                                       
                </div>
            </div>
            <div class="row">
                    <div class="col">
                                
    
    
    </div>
    
    
{% endblock %}