{% extends 'user_template.html'  %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col">
                    <H3>View Score</H3>
    
            </div>
        </div>
        <div class="row">
                   <div class="col">
                        <form method="POST" action="/scoring">
                            <table class="table">
                                
                                
                                <tr><td></td><td> <input type="submit" class="btn btn-primary" name="" value="Process All Pending Tasks" /> </td></tr>
                            </table>
                            </form>
                                       
                </div>
            </div>
            <div class="row">
                    <div class="col">
                                
    
    
    </div>
    
    
{% endblock %}